/* Main Style Classes */
.center{
    -fx-alignment: center;
}

.heading {
    -fx-font-family: Verdana;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.font {
     -fx-font-family: Verdana;
}

/* Main Navigation Buttons */
.main_button {
    -fx-background-color: rgb(255, 197, 57);
    -fx-background-radius: 5px;
}

.main_button:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(40, 40, 40, 0.1), 10, 0.5, 0, 0);
}

.main_button_image {
    -fx-width: 160px;
}

/* Menu bar */
#menu_bar {
    -fx-background-color: rgb(100, 100, 100);
    -fx-font-size: 14px;
    -fx-padding: 0px;
}

.menu-bar > .container > .menu-button > .label {
    -fx-padding: 5px;
    -fx-text-fill: white;
}

.menu-bar > .container > .menu-button:hover {
    -fx-background-color: rgb(200, 200, 200);
    -fx-cursor: hand;
}

/* Flydown Menus */
.context-menu {
  	-fx-background-color:rgb(100, 100 , 100,0.85);
  	-fx-background-radius:0;
  	-fx-padding: 0px;
  	/*-fx-border-width:2.0;
    -fx-border-style:segments(4.0); */
    -fx-cursor:hand;
}

.menu-item > .label {
    -fx-text-fill:white;
    -fx-padding: 5px;
}

.menu-item:focused {
    -fx-background-color:rgb(200, 200, 200);
    -fx-cursor: hand;
}

.menu-button > * > .context-menu {
    -fx-color: rgb(200, 200, 200);
}

/* Main Backgroundcolor */
#root, #bottom {
    -fx-background-color: rgb(230, 230, 230);
}

/* Container for main application elements */
#center_container{
    -fx-padding: 20px 25px 20px 25px;
    -fx-spacing: 30px;
}

/* Area for Inputs, Graphs etc. */
#top{
    -fx-spacing: 20px;
}

.top_box {
    -fx-background-color: rgb(255,255,255);
    -fx-background-radius: 5px;
    -fx-padding: 10px;
}

/* Area for main navigation buttons */
#middle {
    -fx-spacing: 40px;
}

#bottom_label {
    -fx-text-fill: rgb(255, 255, 255);
}

/* Positive amounts will be displayed green */
.positive_text {
    -fx-text-fill: rgb(55, 239, 55);
}

.positive_bg {
    -fx-background-color: rgba(80, 255, 40, 0.3);
}

/* Negativ amounts will be displayed green */
.negative_text {
    -fx-text-fill: red;
}

.negative_bg {
    -fx-background-color: rgba(255, 0, 0, 0.3);
}


