/* Überblick Box */
#ueberblick_box {
    -fx-padding: 10px;
    -fx-spacing: 5px;
}

#ein_aus_hbox{
    -fx-spacing: 30px;
}

.money_label {
    -fx-padding: 5px 15px 5px 15px;
    -fx-background-radius: 3px;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

#lbl_ausgaben {
    -fx-background-color: rgb(255, 0, 0);
}

#lbl_einnahmen {
    -fx-background-color: rgb(55, 239, 55);
}

#lbl_balance {
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

/* Chart settings */
.chart-legend {
    -fx-background-color: transparent;
}

.default-color1.chart-pie { -fx-pie-color: rgb(255, 0, 0); }

.default-color0.chart-pie { -fx-pie-color: rgb(55, 239, 55); }

#LineChart {
    -fx-padding: 10px;
}